
<div class="bg">
    <div class="main">
        <div class="heading">
            <div class="certificate">Course Certificate</div>
            <div><mat-icon>download</mat-icon>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="certOfComp">Certificate of Completion</p>
        <p class="pName">John Doe</p>
        <p class="courseName">User Interface with Illustration</p>
    <div class="flexing">
        <div>
            <p class="details">
                <span>Joined:12/09/22</span>
                <span>Completed:15/10/22</span>
                <span>3hrs 45mins</span>
    
            </p>
            <p class="certificateNo">Certificate No: 1234567890</p>
           </div>
           <img src="/assets/trophy1.png" id="trophy"alt="">
    </div>
    </div>
    <div class="footer">
        <div><img src="/assets/Group 118.png" alt=""></div>
    </div>
    
</div>

