<app-header></app-header>
<p class="myCourse">My Course</p>
<div class="main">
    <div class="submain">

        <div class="showVideo">
            <img src="" alt="">
        </div>
        <div class="videoDetails">
            <div>
                <p class="courseName">Learn Figma-UX/UI Designing Essential Training</p>
                <p class="courseChapters">7 Chapters | 46 lessons</p>
            </div>
            <div class="designbtn">
                <button>Design</button>
            </div>
        </div>

        <p class="bluetxt">
            Learn how to design a beautiful and engaging mobile app with Figma. Learn-by-doing approach.
            Learn how to design a beautiful and engaging mobile app with Figma. Learn-by-doing approach.
        </p>
        <p class="videoInfo">
            Figma is a very powerful application that runs online.
            There are virtually no platform boundaries when it comes to using figma because you can design within a web
            browser or using their desktop application made for windows and macs.
            Figma is similar to Sketch and Adobe XD but is the more powerful of the three when it comes.
            Figma is a very powerful application that runs online. There are virtually no platform boundaries when it
            comes
            to using figma because you can design within a web browser or using their desktop application made for
            windows
            and macs...<span class="showmore">SHOW MORE</span>
        </p>
        <div class="testResult">
            <div class="result">
                <p class="course_result">Course Result</p>
                <p class="percentage">90%</p>
                <p class="appRate">approval Rate</p>
            </div>
            <div class="certificate"></div>
            <div class="details">
                <div class="subContainer">
                    <div class="joined">Joined</div>
                    <div class="date">12/11/22</div>
                </div>
                <div class="subContainer">
                    <div class="joined">Completed</div>
                    <div class="date">12/11/22</div>
                </div>
                <div class="subContainer">
                    <div class="joined">Duration</div>
                    <div class="date">3hrs 45 mins</div>
                </div>
            </div>

            <div class="certificateMain">
               <img src="/assets/Group 118.png" alt="">
            </div>
        </div>

       

    </div>
    <div class="sidebar">

        <div class="routeKeys">
            <p>Overview</p>
            <p>Chapters</p>
        </div>

        <!--    <p class="courseIncludes">Course Includes</p>
        <div>
            <div class="icon" class="sideContent">
                <img src="/assets/clock.png" alt="">
            </div>
            <div class="iconInfo">
                <p>3.5 hrs video</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (1).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Support Files</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Path.png" alt="">
            </div>
            <div class="iconInfo">
                <p>6 module test</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (2).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Full lifetime Access</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/globe.png" alt="">
            </div>
            <div class="iconInfo">
                <p>Access on mobile laptop and TV</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (4).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Certificate of completion</p>
            </div>

        </div>
        <p class="learn">What you'll learn</p>
        <div class="tick">
            <img src="/assets/Combined-Shape.png" alt="">
            <div class="tickContent">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit
            </div>
        </div>
        <div class="tick">
            <img src="/assets/Combined-Shape.png" alt="">
            <div class="tickContent">Design Website
            </div>
        </div>

        <div class="tick">
            <img src="/assets/Combined-Shape.png" alt="">
            <div class="tickContent">Design Website
            </div>
        </div>

        <div class="tick">
            <img src="/assets/Combined-Shape.png" alt="">
            <div class="tickContent">Design Website
            </div>
        </div>
        <div class="requirements">Requirements</div>
        <ul class="requirementsList">
            <li>Internet Access </li>
            <li>You should know your way around comouter basics</li>
        </ul>
        <p class="instructor">Instructor</p>
        <div class="profile">
            <img src="/assets/profile.jpeg" alt="">
            <div>
                <div class="inst-name">John Doe</div>
                <div class="inst-desig">Senior Executive</div>
            </div>
        </div>
        <div class="instInfo">
            Back in 2010, I started brainspin with a desire to design compelling and engaging apps. 
            For over 7 years, I have designed many high profile web and iPhone applications. 
            The applications range from 3D medical aided web applications to project management applications for niche industries. I am also the founder of a large local design organization, Salt Lake Designers, where I and other local influencers help cultivate the talents of up and coming UX designers through workshops and panel discussions...<span class="showmore">SHOW MORE</span>
        </div>
        <div class="join">
            JOIN COURSE
        </div>
    </div>  -->



        <div class="sidebarChapters">
            <p class="courseContent">Course Content</p>
            <p class="courseInfo"> 7 Chapter | 46 lessons | 6 Assignment Test | 3.5h total length </p>
            <div class="chap">
                <p class="chapName">Chapter 1 - Introduction to the course</p>
                <div class="addIcon">
                    <mat-icon>add</mat-icon>
                </div>
            </div>

            <div class="chap">
                <p class="chapName">Chapter 1 - Introduction to the course</p>
                <div class="addIcon">
                    <mat-icon>add</mat-icon>
                </div>
            </div>

            <div class="chap">
                <p class="chapName">Chapter 1 - Introduction to the course</p>
                <div class="addIcon">
                    <mat-icon>add</mat-icon>
                </div>
            </div>


            <div class="video">
                <div class="chk">
                    <mat-icon>check_circle</mat-icon>
                </div>
                <!-- <div class="dot"><mat-icon>radio_button_checked</mat-icon> -->


                <div class="videoNumber">20</div>
                <div class="videoInfo">
                    <div class="videoName">Create a new project and file</div>
                    <div class="videoTime">01:35 mins</div>
                </div>
                <div class="vIcon">
                    <mat-icon>play_circle</mat-icon>
                </div>
            </div>

            <div class="video">
                <!-- <div class="chk"><mat-icon>check_circle</mat-icon></div> -->
                <div class="dot">
                    <mat-icon>radio_button_checked</mat-icon>
                </div>


                <div class="videoNumber">20</div>
                <div class="videoInfo">
                    <div class="videoName">Create a new project and file</div>
                    <div class="videoTime">01:35 mins</div>
                </div>
                <div class="vIcon">
                    <mat-icon>play_circle</mat-icon>
                </div>
            </div>

            <div class="video">
                <div class="chk">
                    <mat-icon>check_circle</mat-icon>
                </div>
                <!-- <div class="dot"><mat-icon>radio_button_checked</mat-icon> -->


                <div class="videoNumber">
                    <img src="/assets/Shape (5).png" alt="">
                </div>
                <div class="videoInfo">
                    <div class="videoName">Final Test</div>
                    <div class="videoTime">10 mins | 25 questions</div>
                </div>
                <div class="vIcon">
                   <span class="percent">86 <sup class="pSym">%</sup></span>
                   <div class="videoTime">Approval Rate</div>
                </div>
            </div>

        </div>

    </div>

</div>