<app-header></app-header>
<p class="myCourse">My Course</p>
<div class="main">
    <div class="submain">

        <div>
            <!-- <video  class="showVideo" controls>
                <source src="{{courseOvDetails.previewThisCourse.videoLink}}" type="video/mp4">
            </video> -->
            <video class="showVideo" controls src="{{videoLink}}"
                type="video/mp4"></video>
        </div>
        <div class="videoDetails">
            <div>
                <p class="courseName">{{courseOV.courseName}}</p>
                <p class="courseChapters"> {{totalChap}} Chapters | {{totalLessons}} lessons</p>
            </div>
            <div class="designbtn">
                <button>{{courseOV.courseOverview.category}}</button>
            </div>
        </div>

        <p class="bluetxt">
            {{courseOvDetails.previewThisCourse.description}}
        </p>
        <p class="videoInfo">
            {{courseOvDetails.description}}<span class="showmore">SHOW MORE</span>
        </p>
        <!-- <div class="testResult">
            <div class="result">
                <p class="course_result">Course Result</p>
                <p class="percentage">90%</p>
                <p class="appRate">approval Rate</p>
            </div>
            <div class="certificate"></div>
            <div class="details">
                <div class="subContainer">
                    <div class="joined">Joined</div>
                    <div class="date">12/11/22</div>
                </div>
                <div class="subContainer">
                    <div class="joined">Completed</div>
                    <div class="date">12/11/22</div>
                </div>
                <div class="subContainer">
                    <div class="joined">Duration</div>
                    <div class="date">3hrs 45 mins</div>
                </div>
            </div>

            <div class="certificateMain">
               <img src="/assets/Group 118.png" alt="">
            </div>
        </div> -->



    </div>
    <div class="sidebar">

        <div class="routeKeys">
            <p [class.active]="content1" (click)="courseOverview()">Overview</p>
            <p [class.active]="content2" (click)="courseChapters()">Chapters</p>
        </div>

        <div class="overView" *ngIf="showOverview">
            <p class="courseIncludes">Course Includes</p>
            <div>
                <div class="sideContent" *ngFor="let include of courseOvDetails.courseIncludes ">
                    <div class="icon">
                        <img src="/assets/clock.png" alt="">
                    </div>
                    <div class="iconInfo">
                        <p>{{include}}</p>
                    </div>
                </div>

                <!-- <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (1).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Support Files</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Path.png" alt="">
            </div>
            <div class="iconInfo">
                <p>6 module test</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (2).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Full lifetime Access</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/globe.png" alt="">
            </div>
            <div class="iconInfo">
                <p>Access on mobile laptop and TV</p>
            </div>
        </div>

        <div class="sideContent">
            <div class="icon">
                <img src="/assets/Shape (4).png" alt="">
            </div>
            <div class="iconInfo">
                <p>Certificate of completion</p>
            </div>

        </div>
       </div> -->
                <p class="learn">What you'll learn</p>
                <div *ngFor="let learn of courseOvDetails.whatYouWillLearn
        ">
                    <div class="tick">
                        <img src="/assets/Combined-Shape.png" alt="">
                        <div class="tickContent">{{learn}}
                        </div>
                    </div>
                </div>

                <div class="requirements">Requirements</div>
                <ul class="requirementsList" *ngFor="let requirement of courseOvDetails.requirements">
                    <li>{{requirement | titlecase}}</li>

                </ul>
                <p class="instructor">Instructor</p>
                <div class="profile">
                    <img src="{{courseOvDetails.instructor.instructorImage}}" alt="">
                    <div>
                        <div class="inst-name">{{courseOvDetails.instructor.name}}</div>
                        <div class="inst-desig">{{courseOvDetails.instructor.designation}}</div>
                    </div>
                </div>
                <div class="instInfo">
                    {{courseOvDetails.instructor.description}}...<span class="showmore">SHOW MORE</span>
                </div>
            </div>

        </div>
        <div class="chap" *ngIf="showChapters">

            <div class="sidebarChapters">
                <p class="courseContent">Course Content</p>
                <p class="courseInfo">{{courseChap.listOfChapters.courseContent.totalChapters}} Chapters|
                    {{courseChap.listOfChapters.courseContent.totalLessons}} lessons |
                    {{courseChap.listOfChapters.courseContent.totalTests}} Assignment Test |
                    {{courseChap.listOfChapters.courseContent.totalDuration | time}} total length </p>
                <div *ngFor="let chapter of chaptersList">
                    <div class="chap">
                        <p class="chapName">Chapter {{chapter.chapterNumber}}-{{chapter.chapterTitle}} </p>
                        <div class="addIcon">
                            <mat-icon (click)="displayDropdown(chapter)" *ngIf="!chapter.dropdown">add</mat-icon>
                            <mat-icon (click)="displayDropdown(chapter)" *ngIf="chapter.dropdown">remove</mat-icon>
                        </div>
                </div>
                    <div *ngIf="chapter.dropdown==true">
                        <div class="video" *ngFor="let lesson of chapter.lessons">
                            <div class="chk">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="dot">
                                <mat-icon>radio_button_checked</mat-icon>
                            </div>
                            <div class="videoNumber">{{lesson.serialNumberOfLesson}}</div>
                            <div class="videoInfo">
                                <div class="videoName">{{lesson.title}}</div>
                                <div class="videoTime">{{lesson.duration | time}}</div>
                            </div>
                            <div class="vIcon">
                                <mat-icon  (click)="playVideo(lesson.url)">play_circle</mat-icon>
                            </div>
                        </div>

                        <div class="video" *ngIf="chapter.test!=null" (click)="moduleTest(chapter.test._id)">
                        
                            <div class="chk">
                                <mat-icon>check_circle</mat-icon>
                            </div>
                            <div class="dot">
                                <mat-icon>radio_button_checked</mat-icon>
                            </div>
        
                            <div class="videoNumber">
                                <img src="/assets/Shape (5).png" alt="">
                            </div>
                            <div class="videoInfo">
                                <div class="videoName">{{chapter.test.testTitle}} {{ chapter.test.testNumber}}</div>
                                <div class="videoTime">{{chapter.test.totalTimeAlloted }}mins |  {{chapter.test.totalQuestions}}questions</div>
                            </div>
                            <!-- <div class="vIcon">
                                <span class="percent">86 <sup class="pSym">%</sup></span>
                                <div class="videoTime">Approval Rate</div>
                            </div> -->
        
        
                        </div>
                    </div>
                
                </div>

                <!-- <div class="video" *ngFor="let test of chapter.tests">
                    <div class="chk">
                        <mat-icon>check_circle</mat-icon>
                    </div>
                    <div class="dot">
                        <mat-icon>radio_button_checked</mat-icon>
                    </div>

                    <div class="videoNumber">
                        <img src="/assets/Shape (5).png" alt="">
                    </div>
                    <div class="videoInfo">
                        <div class="videoName">Final Test</div>
                        <div class="videoTime">10 mins | 25 questions</div>
                    </div>
                    <div class="vIcon">
                        <span class="percent">86 <sup class="pSym">%</sup></span>
                        <div class="videoTime">Approval Rate</div>
                    </div>


                </div> -->
            


               <div>
            
               </div>




            </div>
        </div>
        <div>