<app-header></app-header>
<div class="main">
    <div class="submain">
        <p class="myCourse">Module Test 1</p>
        <div class="close">
            <mat-icon (click)="close()">close</mat-icon>
        </div>
    </div>
    <div class="submain1">
        <div class="questionsComplete">Question 5 of 25</div>
        <div class="remainingTime">
            <div class="clock">
                <mat-icon>alarm</mat-icon>
            </div>
            <div class="remTime">8mins remaining</div>
        </div>
    </div>
    <p class="question">How to create dot-matrix in Figma without doing it dot-by-dot?</p>
    <div class="choice">
        <div class="choiceIcon">
            <mat-icon>radio_button_unchecked </mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div>

    <div class="choice">
        <div class="choiceIcon">
            <mat-icon>radio_button_unchecked </mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div>

    <div class="choice">
        <div class="choiceIcon">
            <mat-icon>radio_button_unchecked </mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div>

    <div class="selectedChoice">
        <div class="selectedchoiceIcon">
            <mat-icon>check_circle</mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div>
    <div class="navigateToChapter">
        <div class="navigateChapter">
            <p>Chapter 3</p>
            <p>Setting up a new project</p>
        </div>
        <div class="backIcon"><mat-icon>arrow_back</mat-icon></div>
        <div class="submitbtn"><button>Submit</button></div>
    </div>

</div>