<app-header></app-header>
<div class="main">
    <div class="submain">
        <p class="myCourse">Module Test 1</p>
        <div class="close">
            <mat-icon (click)="close()">close</mat-icon>
        </div>
    </div>
    <div class="submain1">
        <div class="questionsComplete">Question {{j+1}} of {{questions.totalQuestions}}</div>
        <div class="remainingTime">
            <div class="clock">
                <mat-icon>alarm</mat-icon>
            </div>
            <div class="remTime">{{counter | time}}
                remaining</div>
        </div>
    </div>
    <p class="question">{{questions.questions[j]}}</p>
    <!-- <div class="choice">
        <div class="choiceIcon">
            <mat-icon>radio_button_unchecked </mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div>

    <div class="choice">
        <div class="choiceIcon">
            <mat-icon>radio_button_unchecked </mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div> -->

    <div *ngFor="let choice of questions.options[j];index as i">
        <div (click)="selectedChoice(i)" class="choice"
             [style.background-color]="rowClicked == i || answersArr[j] == i ? '#EC5D52' : 'transparent'"
             [style.color]="rowClicked == i || answersArr[j] == i ? 'white' : 'black'" 
             (click)="changeTableRowColor(i)">
             
            <div class="choiceIcon" *ngIf="(chosenIndex!=i || clicked==false) && answersArr[j] != i">

                <mat-icon>radio_button_unchecked </mat-icon>
            </div>
            <div class="selectedchoiceIcon" *ngIf="(chosenIndex==i && clicked==true) || answersArr[j] == i">
                <mat-icon>check_circle</mat-icon>
            </div>
            <div>
                <div class="choiceContent">{{choice}}</div>
            </div>
        </div>

    </div>

    <!-- <div class="selectedChoice">
        <div class="selectedchoiceIcon">
            <mat-icon>check_circle</mat-icon>
        </div>
        <div class="choiceContent">Follow a dash line</div>

    </div> -->
    <div class="navigateToChapter">
        <div class="navigateChapter">
            <p>Chapter {{chapterNumber}}</p>
            <p>{{chapterName}}</p>
        </div>
        <div class="backIcon" (click)="goBack()">
            <mat-icon *ngIf="this.j">arrow_back</mat-icon>
        </div>
        <div class="backIcon" (click)="goNext()">
            <mat-icon *ngIf="!(this.j+1==questions.totalQuestions)">arrow_forward</mat-icon>
        </div>
        <div class="submitbtn" (click)="submit()"><button *ngIf="this.j+1==questions.totalQuestions">Submit</button>
        </div>
    </div>

</div>