<app-header></app-header>
<div class="main">
    <p class="myCourse">My Course</p>
    <div class="status-btns" >
        <div [class.active]="highlightOngoing" (click)="ongoingCourse()" >Ongoing</div>
        <div  [class.active]="highlightCompleted" (click)="completedCourse()" >Completed</div>
    </div>

   <div class="courseDisplay">
     <div class="positioning"  *ngFor="let course of ongoing;index as i">
        <div class="bgImage">
            <img src="{{course.url}}" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">{{course.title}}</p>
                    <p class="chapters">{{course.chaptersCompleted}}/{{course.totalChapters}} &nbsp;chapters</p>
                <div class="continue">
                    <button (click)="openCourse(course.courseId)">Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>
   <div class="positioning"  *ngFor="let course of completed;index as i">
        <div class="bgImage">
            <img src="course.coursePhoto" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Completed</p>
                </div>
                <div>
                    <p class="courseName">{{course.courseName}}</p>
                    <p class="chapters">{{course.completedChapter}}/{{course.totalChapter}} &nbsp;chapters</p>
                <!-- <div class="continue">
                    <button (click)="openCourse(course.courseId)">Continue</button>
                </div> -->
                </div>
            </div>
        
        </div>
    
    </div>

   <!--  <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>
   
    <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div> -->
   </div>
   

</div>
