<app-header></app-header>
<div class="main">
    <p class="myCourse">My Course</p>
    <div class="status-btns">
        <button routerLink="/courseOverview" routerLinkActive="active" >Ongoing</button>
        <button routerLink="/courseCompleted" routerLinkActive="active"  >Completed</button>
    </div>

   <div class="courseDisplay">
    <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>
    <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>

    <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>
   
    <div class="positioning">
        <div class="bgImage">
            <img src="/assets/art1.jpeg" id="bgImage"alt="">
        </div>
        <div class="courses">
            <div class="courseInline">
                <div>
                    <p class="courseStatus">Ongoing</p>
                </div>
                <div>
                    <p class="courseName">Art and Illustration</p>
                    <p class="chapters">15/20 chapters</p>
                <div class="continue">
                    <button>Continue</button>
                </div>
                </div>
            </div>
        
        </div>
    
    </div>
   </div>
   

</div>
