<app-header></app-header>
<div class="bgcolor">
    <div class="main">
        <p class="bg">Module test 1</p>
     <div class="toFlex">
        <div class="vnumber">80</div>
        <div class="course">
            
            <div>
                <div class="chapterName">Chapter 3: Setting up a new project</div>
            <div class="courseName">Course: Learn Figma - UI/UX Design Essential Training</div>
            </div>
        </div>
        </div>
        <div class="main">
            <div class="container">
                <div>
                    <p class="heading">Passing Grade</p>
                    <p class="score">75/100</p>
                </div>
                <div>
                    <p class="heading">Correct</p>
                    <p class="score">20/25</p>
                </div>
                <div>
                    <p class="heading">Wrong</p>
                    <p class="score">05/25</p>
                </div>
            </div>
        </div>
    </div>
     </div>
    <div class="main">
        <p class="questions" (click)="solutions()">List of Questions</p>
    </div>
<div class="main">
    <div class="ques">
        <div>
            <div class="qNo">Question1</div>
            <div class="status">Correct Answer</div>
           </div>
           <div class="arrow">
            <mat-icon>arrow_forward_ios</mat-icon>
           </div>
    </div>

    <div class="ques">
        <div>
            <div class="qNo">Question2</div>
            <div class="statusW">Wrong Answer</div>
           </div>
           <div class="arrow">
            <mat-icon>arrow_forward_ios</mat-icon>
           </div>
    </div>
       
</div>